.notificaciones{
    margin: 10px;
}

.notificaciones p{
    padding: 10px;
}



.notificaciones .alert{
    background-color: tomato;
    color: white;
}

.notificaciones .warning{
    background-color: gold;
    color: black;
}

.notificaciones .success{
    background-color: green;
    color: white;
}
