<!-- <section>
  <div class="row">
    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>
  </div>
</section>


<section class="container">
  <div class="row">
    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>

    <article class="col-12 col-t-6 col-d-4">
      <div class="caja"></div>
    </article>
  </div>
</section> -->
<router-outlet></router-outlet>
