@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
$fontFamily: 'Rubik', sans-serif;
$fontSize: 1em;
$marginGrid: 0.625em;
$primaryColor: #0d3e10;
$secondaryColor: #CC9D1C;
$breakpointTablet: 768px;
$breakpointDesktop: 1140px;
