extends ../layout.pug
block content
    h2 Nuevo cliente 
    form(action="/clients/create", method="post")
        .mb-3
            label.form-label Nombre
            input.form-control(type="text", name="nombre")
        .mb-3
            label.form-label Apellidos
            input.form-control(type="text", name="apellidos")
        .mb-3
            label.form-label Dirección
            input.form-control(type="text", name="direccion")
        .mb-3
            label.form-label Edad
            input.form-control(type="text", name="edad")
        .mb-3
            label.form-label Masculino
            //- select(name="genero")
            //-     option(value="m") Masculino
            //-     option(value="f") Femenino 
            input.form-check-input(type="radio", name="genero", value="m")
            label.form-label Femenino
            input.form-check-input(type="radio", name="genero", value="f")

        .mb-3
            label.form-label Email
            input.form-control(type="text", name="email")
        .mb-3
            label.form-label DNI
            input.form-control(type="text", name="dni")
        .mb-3
            label.form-label Cuota
            input.form-control(type="text", name="cuota")
        .mb-3
            label.form-label Fecha Nacimiento
            input.form-control(type="text", name="fecha_nacimiento")
        input(type="submit", value="Enviar")

