<!-- Ejemplo de pipes de texto más común -->
<p>{{nombre | uppercase}} - {{nombre}} </p>
<p>{{nombre | lowercase}} - {{nombre}} </p>
<p>{{'angeles del pozo' | titlecase}} - {{nombre}} </p>

<!-- Ejemplo de pipes numéricos -->

<p>{{ iva | percent }}</p>
<p>el {{ iva | percent }} de 1000 es {{1000*iva}}</p>
<p>{{ racional | percent }}</p>

<!-- Ejemplo de pipes de depuración-->
<!-- en principio se veria asi...como arr texto -->

<p>{{arrayNumeros}}</p>
<!-- esto me sirve para ver como me llega ese array, en que orden... -->
<p>{{arrayNumeros | json}}</p>

<p>{{ precio | currency: 'EUR' }}</p>

<p>{{ fecha | date: 'EEEE: dd-MMM-yyyy' | uppercase}}</p>

<p>{{ birthday | date: 'dd-MM' }}</p>

<!--

  Formato     Equivale              Salida
----------  --------------------  --------------------------------
short       M/d/yy h:mm a         6/15/15 9:03 AM
medium      MMM d y h:mm:ss a     Jun 15 2015 9:03:01 AM
long        MMMM d y h:mm:ss a z  June 15 2015 at 9:03:01 AM GMT+1
shortDate   M/d/yy                6/15/15
mediumDate  MMM d y               Jun 15 2015
longDate    MMMM d y              June 15 2015
fullDate    EEEE MMMM d y         Monday June 15 2015
shortTime   h:mm a                9:03 AM
mediumTime  h:mm:ss a             9:03:01 AM
longTime    h:mm:ss a z           9:03:01 AM GMT+1
fullTime    h:mm:ss a zzzz        9:03:01 AM GMT+01:00
full        EEEE MMMM d y         Monday June 15 2015
            h:mm:ss a zzzz        at 9:03:01 AM GMT+01:00
-->

<p>Racional: {{ pi | number: '2.3-5'}}</p>

<p>{{ arrAnimales }}</p>
<p>{{ arrAnimales | slice: 1: 3 }}</p>
<!-- El texto de entrada es Dario e Ismael y el de salida es la vueta ---- leamsI e oiraD -->
<p>{{ 'Dario e Ismael' | vuelta }}</p>

<!--  recortarString, lo recorte a 20 caracteres y que le añanada ...-->
<article>
  <h2>Titulo de la noticia</h2>
  <p>{{texto | recortarStrings: 40: '***' }}</p>
  <p [innerHTML]="texto | recortarStrings: 40 "></p>
</article>

<!-- formateador, eligir color texto, negrita, mayusculas minusculas, los argumentos no tiene que ser obligatorios -->
<p [innerHTML]="texto | formateador: '#00FF00': 'regular': 'capitalize'"></p>










