<div>
    <app-filtros (busquedaEntreno)="buscar($event)"></app-filtros>
</div>

<div *ngIf="entrenos.length !== 0; else bloqueElse">
  
    <article class="p-3 bg-light border border-3 border-secondary rounded-3 my-2" *ngFor="let entreno of entrenos">
        <app-entreno [miEntreno]="entreno"></app-entreno>
    </article>
</div>

<ng-template #bloqueElse>
    <article class="p-3 bg-light border border-3 border-secondary rounded-3 my-2">
        <h3>No existen entrenos dados de alta</h3>
    </article>
</ng-template>