<section class="container mt-3">
    <h1>¿Quieres tu premio?</h1>
    <hr>
    <form class="card p-3 shadow" #loginForm="ngForm" (ngSubmit)="getDataForm(loginForm)">
  
      <div>
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" name="username" ngModel>
      </div>
  
      <div>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
  
      <input type="submit" value="login" class="btn btn-success mt-3">
  
    </form>
  </section>
  
