<img [src]="'http://localhost:3000/'+imagen" *ngIf="imagen" width="200">

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div>
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos">
    </div>
    <div>
        <label class="form-label">Dirección</label>
        <input type="text" class="form-control" formControlName="direccion">
    </div>
    <div>
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" formControlName="telefono">
    </div>
    <div>
        <label class="form-label">Imagen</label>
        <input type="file" class="form-control" name="imagen" (change)="onChange($event)">
    </div>
    <input type="submit" value="Enviar">
</form>