@font-face {
    font-family: 'Comfortaa';
    src: url('../../assets/fonts/Comfortaa-Light.ttf');
    font-weight: 300;

}

@font-face {
    font-family: 'Comfortaa';
    src: url('../../assets/fonts/Comfortaa-Bold.ttf');
    font-weight: 700;

}