@use 'fonts';
$font-family-sans-serif: 'Comfortaa', sans-serif;
$headings-font-weight: 700;

$primary:#619b8a;
$secondary:#233d4d;
$warning:#fcca46;
$success:#a1c181;
$info:#fe7f2d;
$danger:#fdc5f5;

@import'../../../node_modules/bootstrap/scss/bootstrap.scss';

