<section class="container mt-3">
    <form #registerEmployee="ngForm" (ngSubmit)="getDataForm(registerEmployee)">

        <div class="mt-3">
            <label for="name">Nombre</label>
            <input tyte="text" id="name" name="name" ngModel class="form-control"
            placeholder="Introduce tu nombre">
        </div>

        <div class="mt-3">
            <label for="surname">Apellido</label>
            <input tyte="text" id="surname" surname="surname" ngModel class="form-control"
            placeholder="Introduce tu apellido">
        </div>

        <div class="mt-3">
            <label for="dni">DNI</label>
            <input tyte="text" id="dni" dni="dni" ngModel class="form-control"
            placeholder="Introduce tu dni">
        </div>

        <div class="mt-3">
            <label for="email">Email</label>
            <input tyte="text" id="email" email="email" ngModel class="form-control"
            placeholder="Introduce tu email">
        </div>

        <div class="mt-3">
            <label for="photo">Foto</label>
            <input tyte="text" id="photo" photo="photo" ngModel class="form-control"
            placeholder="Introduce tu foto de perfil">
        </div>

        <div class="mt-3">
            <select id="department" name="department" ngModel class="form-select">
              <option value="">Selecciona un departamento</option>
              <option *ngFor="let department of departments" [value]="department.id">{{ department.title }}</option> 
            </select>
          </div>

        <input type="submit" class="btn btn-danger mt-3" value="Enviar">
    </form>

</section>
