<div class="container mt-3">
    <h1>Quieres contactar con nosotros</h1>
    <hr>
    <form class="card p-3" #formContact="ngForm" (ngSubmit)="recogerDatos(formContact)">
      <div>
        <label for="nombre" class="form-label">Nombre</label>
        <input class="form-control" type="text" id="nombre" name="nombre" ngModel>
      </div>
  
      <div>
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="text" id="email" name="email" ngModel>
      </div>
  
      <input type="submit" value="Enviar" class="btn btn-danger mt-3">
    </form>
  </div>
  
