agm-map{
    width: 100%;
    height: 100vh;
  }
.infowindow{
    padding: 10px;
}
  
.infowindow h4{
    font-size: 120%;
    margin: 0;
}
  
.infowindow .icon{
    width: 20px;
    height: auto;
}
  
.infowindow ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.infowindow a{
    text-decoration: none;
    color: tomato;
    font-weight: bold;
}
  