<section>
    <agm-map [latitude]="lat" [longitude]="long" [zoom]="4">
      <!--  mi market que me posiciona dentro mapa -->
      <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
      <!-- Todos los markets de los demas paises-->
      <agm-marker *ngFor="let country of arrCountries" [latitude]="country?.capitalInfo.latlng[0]" [longitude]="country?.capitalInfo.latlng[1]" [iconUrl]="$any({url: country?.flags.svg, scaledSize: {width: 30, height: 25}})">
  
        <agm-info-window>
          <div class="infowindow">
            <h4><img [src]="country?.flags.png" class="icon"> | {{country?.name.common}}</h4>
            <hr>
            <ul>
              <li>Capital: {{country?.capital}}</li>
              <li>Monedad: {{ country?.currencies | moneda }}</li>
            </ul>
            <a [routerLink]="['/country', country?.cca2?.toLowerCase()]">Ver detalle</a>
          </div>
        </agm-info-window>
  
  
      </agm-marker>
    </agm-map>
  </section>
  
