<div class="form">
    <div>
        <label for="titulo" class="form-label">Buscador tarea</label>
        <input type="text" id="titulo" class="form-control"placeholder="introduce tarea a buscar" (input)="capturarBusqueda($event)">
    </div>
    <div class="mt-3">
        <select class="form-select" (change)="capturarPrioridad($event)">
            <option value="">Selecciona una prioridad</option>
            <option value="urgente">Urgente</option>
            <option value="diaria">Diaria</option>
            <option value="mensual">Mensual</option>
        </select>
    </div>
   
</div>

