<section class="container">
    <div class="card mt-5 p-4" *ngFor="let country of myCountry | async">
      <h2 class="card-title">{{ country?.name.common }}</h2>
      <hr>
      <div class="row">
        <figure class="col-12 col-md-3">
          <img [src]="country?.flags.svg" [alt]="country?.name.common" class="img-fluid shadow">
        </figure>
        <div class="col-12 col-md-9">
          <ul>
            <li>Población: {{ country?.population | number }} </li>
            <li>Moneda: {{ country?.currencies | moneda }}</li>
            <li>Superfice: {{ country?.area }}</li>
            <li>Capital: {{ country?.capital}}</li>
          </ul>
          <h4 class="text-muted" *ngIf="country?.unMember">Este pais es miembro de la Unión Europea</h4>
        </div>
      </div>
    </div>
  </section>
  
