<div class="form">
    <div>
        <label for="titulo" class="form-label">Titulo tarea</label>
        <input type="text" id="titulo" class="form-control" [(ngModel)]="nuevaTarea.titulo">
    </div>
    <div class="mt-3">
        <select class="form-select" [(ngModel)]="nuevaTarea.prioridad">
            <option value="">Selecciona una prioridad</option>
            <option value="urgente">Urgente</option>
            <option value="diaria">Diaria</option>
            <option value="mensual">Mensual</option>
        </select>
    </div>
    <button class="btn btn-danger mt-3" (click)="obtenerDatos()">GUARDA</button>
</div>
