<div class="card mb-3 bg-transparent text-light">
    <div class="row g-0">
      <figure class="col-12 col-md-4">
        <img [src]="personaje.imagen" [alt]="personaje.nombre_real" class="img-fluid rounded-start">
      </figure>
      <div class="col-12 col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h1 class="card-title">{{ personaje.nombre_real }}</h1>
            <button class="boton border-0" [routerLink]="['/personajes']">Volver a personajes</button>
          </div>
          <hr>
          <p class="card-text">Personaje que interpreta: {{personaje.nombre_personaje}}</p>
          <p class="card-text">Numero de episodios: {{personaje.episodios}}</p>
          <button class="boton border-0" [routerLink]="['/serie', personaje.serie]">{{nombreSerie}}</button>
        </div>
  
      </div>
    </div>
  </div>
  
