<section class="container mt-3">
    <h1>Registrate</h1>
    <hr>
    <form [formGroup]="registerForm" (ngSubmit)="getDataForm()">
  
      <div>
        <label for="name">Nombre</label>
        <input class="form-control" type="text" id="name" formControlName="name">
      </div>
  
      <div>
        <label for="surname">Apellidos</label>
        <input class="form-control" type="text" id="surname" formControlName="surname">
      </div>
  
      <div>
        <label for="username">Usuario</label>
        <input class="form-control" type="text" id="username" formControlName="username">
      </div>
  
      <div>
        <label for="password">Password</label>
        <input class="form-control" type="text" id="password" formControlName="password">
      </div>
  
      <div>
        <label for="mail">Email</label>
        <input class="form-control" type="text" id="mail" formControlName="mail">
    
        <label for="address">Dirección</label>
        <input class="form-control" type="text" id="address" formControlName="address">
      </div>
  
      <div>
        <label for="age">Edad</label>
        <input class="form-control" type="number" id="age" formControlName="age">
      </div>
  
  
      <input type="submit" value="Enviar" class="btn btn-success mt-3">
    </form>
  </section>
  
