@import 'variables';
@import 'layout';

section.container {
  margin-top: 40px;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: $marginGrid;
    text-decoration: underline;
  }

  p {
    margin-bottom: $marginGrid;
  }
}
