<section class="container">
  <h1>{{character?.name}}</h1>
  <hr>
  <div class="row">
    <figure class="col-12 col-t-3">
      <img [src]="character?.img" [alt]="character?.nickname">
    </figure>
    <div class="col-12 col-t-9">
      <h2>{{character?.nickname}}</h2>
      <p>Estado: {{character?.status}}</p>
      <p>Ocupación: {{character?.occupation}}</p>
      <p>Fecha de nacimiento: {{character?.birthday}}</p>
      <button class="btn" [routerLink]="['/dashboard']">Volver a listado</button>
    </div>
  </div>
</section>
