<header>
    <nav class="navbar navbar-dark bg-dark shadow">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Mis Entrenamientos</span>
        </div>
      </nav>

</header>

<main class="container card shadow p-3 mt-4">
    <div class="row">
        <aside class="col-12 col-md-4">
            <app-form></app-form>
        </aside>

        <div class="col-12 col-md-8">

            <section>
                <app-lista-entrenos></app-lista-entrenos>
            </section>

            <section>
                <app-totales></app-totales>        
            </section>
        </div>
    </div>
</main>
